# Database
DATABASE_URL="mongodb://127.0.0.1:27017/auth-service"

# Server
PORT=3100
NODE_ENV=development

# Better Auth
BETTER_AUTH_SECRET="your-secret-key-here-change-in-production"
BETTER_AUTH_URL="http://localhost:3100"

# Keycloak SSO Configuration
KEYCLOAK_ISSUER="http://localhost:8080/realms/gallis"
KEYCLOAK_DOMAIN="localhost:8080"
KEYCLOAK_CLIENT_ID="ecampus"
KEYCLOAK_CLIENT_SECRET="I7VHrys22srAeJY3LSIy5hu8JDrOpbKV"
KEYCLOAK_AUTH_ENDPOINT="http://localhost:8080/realms/gallis/protocol/openid-connect/auth"
KEYCLOAK_TOKEN_ENDPOINT="http://localhost:8080/realms/gallis/protocol/openid-connect/token"
KEYCLOAK_JWKS_ENDPOINT="http://localhost:8080/realms/gallis/protocol/openid-connect/certs"
KEYCLOAK_DISCOVERY_ENDPOINT="http://localhost:8080/realms/gallis/.well-known/openid-configuration"
